/* 立即去购物 YangFangLing 2020年3月3日 */
.zx-cart {
    padding: 120px 0;
    border-bottom: 10px solid #f6f6f6;
    .zx-con {
        text-align: center;
        img {
            vertical-align: middle;
        }
        h3 {
          font-size: 22px;
          color: #333;  
          text-align: left;
          display: inline-block;
          vertical-align: middle;
          margin: 0 70px 0 55px;
          em {
              display: block;
              font-size: 16px;
              margin-top: 10px;
          }
        }
        a {
            vertical-align: middle;
            background-color: #fc6822;
            height: 36px;
            line-height: 36px;
            width: 110px;
            border-radius: 2px;
            font-size: 12px;
            color: #fff;
            display: inline-block;
        }
    }
}
/* 立即去购物 end */